allure-pytest
allure-python-commons
Appium-Python-Client
async-generator
atomicwrites
attrs
certifi
charset-normalizer
colorama
cryptography
greenlet
h11
idna
importlib-metadata
iniconfig
jsonpath
numpy
outcome
packaging
panda
pluggy
py
pycparser
PyHamcrest
pyOpenSSL
pyparsing
PySocks
pytest
pytest-assume
pytest-forked
pytest-html
pytest-metadata
pytest-ordering
pytest-rerunfailures
pytest-xdist
PyYAML
pyzmq
requests
scoop
selenium
six
sniffio
sortedcontainers
toml
tomli
trio
trio-websocket
typing_extensions
urllib3
wsproto
zipp